:root {
    --primary: brown;
    --secondary: burlywood;
    --accent: goldenrod;
    --primary-50: rgba(165, 42, 42, 0.5);
    --secondary-50: rgba(222, 184, 135, 0.5);
    
    --white: rgb(250, 227, 198);
    --black: rgb(30, 30, 30);

    --light-grey: rgb(150, 150, 150);
    --mid-grey: rgb(85, 85, 85);    
    --grey: rgb(50, 50, 50);
    --dark-grey: rgb(37, 38, 39);
    --super-dark-grey: rgb(19, 19, 19);
    --dark-grey-90: rgba(37, 38, 39, 0.9);
    
    --green: rgb(88, 180, 45);
    --green-50: rgba(80, 182, 36, 0.5);
    --dark-green: rgb(35, 77, 17);

    --red: rgb(220, 15, 45);
    --red-50: rgba(220, 15, 45, 0.5);
    --dark-red: rgb(94, 5, 18);

    --gold: goldenrod;

    --navbar-height: 32px;
    --footer-height: 64px;
    
    --default-padding: 8px;
    --corner-padding: 16px;

    --border-width: 2px;
    --border-radius: 8px;

    --default-spacing: 8px;

    --background-url: url("/background/water-parchment-dark.webp");
}

body {
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: "RobotoCondensed", Times, serif;
    color: var(--white);
}

html, .body {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background: burlywood;
}

/* Colours */
.primary {
    color: var(--primary);
}

.secondary {
    color: var(--secondary);
}

.accent {
    color: var(--accent);
}

/* Text */
h1, h2 {
    font-family: "Cinzel";
    font-weight: bolder;
}

h3 {
    font-family: "Charm";
    font-weight: bold;
}

/* Layout */
.button-menu {
    display: flex;
    flex-direction: column;
    width: min(25vw, 25vh);
    margin: auto;
    row-gap: var(--default-spacing);
}

.content {
    text-align: center;
    z-index: 2;
    position: relative;
    height: 100%;
    padding: 0 10%;
}

.content-sidebar {
    display: grid;
    grid-template-columns: 15rem 1fr;
    z-index: 2;
    height: 100%;
    position: relative;
}

.text {
    font-size: 1.4rem;
    text-align: justify;
    line-height: 1.8rem;
    white-space: pre-line;
    font-family: "Charm";
}

.parchment {
    background-image: url("/background/parchment-light.webp");
    background-repeat: repeat-y;
    background-position: top;
    background-size: 100%;
    padding: 2rem 10% 5rem;
    color: rgb(47, 12, 12);
    background-attachment: scroll;
}