:root {
    --primary: brown;
    --secondary: burlywood;
    --accent: goldenrod;
    
    --white: antiquewhite;
    --black: rgb(30, 30, 30);

    --light-grey: rgb(150, 150, 150);
    --mid-grey: rgb(85, 85, 85);    
    --grey: rgb(50, 50, 50);
    --dark-grey: rgb(37, 38, 39);
    --super-dark-grey: rgb(19, 19, 19);
    --dark-grey-90: rgba(37, 38, 39, 0.9);
    
    --primary-50: rgba(165, 42, 42, 0.5);
    --secondary-50: rgba(222, 184, 135, 0.5);

    --navbar-height: 32px;
    --footer-height: 64px;
    
    --default-padding: 8px;
    --corner-padding: 16px;

    --border-width: 2px;
    --border-radius: 8px;

    --default-spacing: 8px;

    --background-url: url("/background/water-parchment.webp");
}

body {
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: "RobotoCondensed", Times, serif;
}

html, .body {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

/* Colours */
.primary {
    color: var(--primary);
}

.secondary {
    color: var(--secondary);
}

.accent {
    color: var(--accent);
}

/* Text */
h1, h2 {
    font-family: "Cinzel";
    font-weight: bolder;
}

h3 {
    font-family: "Charm";
    font-weight: bold;
}

/* Layout */
.button-menu {
    display: flex;
    flex-direction: column;
    width: min(25vw, 25vh);
    margin: auto;
    row-gap: var(--default-spacing);
}


